body {
  /* margin:0px;
  display:flex;
  justify-content:center;
  min-width: 100vw;
  min-height: 100vh; POR NAV LO SILENCIÉ*/
  background: black;
  background-image: linear-gradient(to right, rgb(147, 61, 61),rgb(152, 116, 54),rgb(142, 142, 83),rgb(88, 118, 88),rgb(60, 60, 143),rgb(93, 38, 131),rgb(101, 77, 101)); 
  
  background-size: 100% 100%;
  }

    .App {
      display:flex;
      justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: monospace;
}

.App input {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;;
}

p {
  margin: 10px;
  font-size: 18px;
}

button {
font-size: 12px;
padding: 10px 24px;
border-radius: 4px;
background-color: lightpink;
color:black;
border: 2px solid purple;
box-shadow: 0 8px 16px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

/* GENERALES--------------------- */
h1 {
  margin:30px;
}

/* FIN GENERALES--------------------- */

/* SIGN UP---------------------- */
.signUpLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  font-size: 30px;
  
}

/* FIN  SIGN UP---------------------- */


